<th>
    <div class="col-10 row">
        @ColumnTitle
        <input class="form-control" placeholder="search" @oninput="OnInputChanged" />
    </div>
</th>

@code {

    [Parameter]
    public string ColumnTitle { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnInputChanged { get; set; }

}