@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="col-4 row">
            <p>Login</p>&nbsp;<p>Logout</p>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
